@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
:root {
	font-family: 'Merriweather', serif;
}

body {
	position: relative;	
	background-color: #9e9e9e; 
	/* #FCFCFC */
}

.overlay {
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(100, 100, 100, 0.4)
}

.modal {
	width: 400px; /* previously 375px */
	/* height: 545px; */
	margin: 15% auto auto;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid #EEEEEE;
	border-radius: 10px;
	padding: 30px 20px; 

}

.modal-content {
	padding-top: 20px;
}

.modal-close {
	position: absolute;
	top: 5px;
	right: 15px;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.hidden  {
	display: none;
}

h1 {
	margin: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.grid-container {
	display: flex; 
	flex-wrap: wrap;
	margin: 2.5rem;
	justify-content: center;
}

.card {
	display: flex;
	align-items: center;
	background-color: #fff;
	margin-right: 25px;
	margin-bottom: 25px; 
	padding: 1.5rem;
	width: 400px; 
	height: 150px;
	border-radius:.5rem;
	cursor: pointer;
	
}

.card img {
	border-radius: 50%;
	height: 70%;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
	gap: 18px;
}

#text-container.text-container {
	padding: 20px 0; 
}

img.avatar {
	width: 175px;
	height: 175px;
	border-radius: 50%;
}

h2 {
	font-weight: 700;
	font-size: 20px; 
}

p.email, p.address {
	font-weight: 300;
	color: #8C9296;
	font-size: 14px; 
}

p.modal-text {
	font-weight: lighter;
	color: #8C9296;
}

hr {
	border: 1px solid #EEEEEE;
	width: 100%;
	margin: 30px 0;
}